body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}
.centrerTexte{
    text-align: center;
}
.pad{
    padding: 25px;
}
.header{
    color: rgb(0, 0, 0);
    font-size: 36pt;
}
.backgroundwp{
    background: url("wallpaper ubu no logo.png");
    background-size: cover;
}
.banner{
    background-color:rgb(194, 95, 95);
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 16pt;
    text-align: center;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.mainbody{
    background-color: black;
    color: white;
    font-size: 16pt;
    text-align: center;
}
lienaa:hover {
    background-color: rgb(199, 49, 49);
    font-weight: bold;
  }
.divs{
    margin: 5px;
    width: 25%;
    float: left;
}
.boutanim {
    background-color: #000000; /* Green */
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.boutanim:hover {
    background-color: black;
    border-radius: 4px;
    animation-name: rgbanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
@keyframes rgbanim{
    0%   {border: 2px solid red; padding: 15px 32px;}
    16%  {border: 2px solid yellow; padding: 15px 36px;}
    32%  {border: 2px solid green; padding: 15px 32px;}
    48% {border: 2px solid aqua; padding: 15px 36px;}
    64% {border: 2px solid blue; padding: 15px 32px;}
    80% {border: 2px solid purple; padding: 15px 36px;}
    100% {border: 2px solid red; padding: 15px 32px;}
}