body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}
.centrerTexte{
    text-align: center;
}
.pad{
    padding: 25px;
}
.header{
    color: rgb(0, 0, 0);
    font-size: 36pt;
}
.backgroundwp{
    background: url("wallpaper ubu no logo.png");
    background-size: cover;
}
.banner{
    background-color:rgb(194, 95, 95);
    color: rgb(0, 0, 0);
    height: 40px;
    font-size: 16pt;
    text-align: center;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.mainbody{
    background-color: black;
    color: white;
    font-size: 16pt;
    text-align: center;
}
lienaa:hover {
    background-color: rgb(199, 49, 49);
    font-weight: bold;
  }
input[type="button"]{
    background-color: pink;
}
.divs{
    margin: 5px;
    width: 25%;
    float: left;
}